* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: repeat-x;
    background-color: hsl(225, 100%, 94%);
}

.main-card {
    border-radius: 0px 0px 10px 10px;
    width: 300px;
    margin: 100px auto 50px auto;
    background-color: white;
}

.main-card__img {
    width: 300px;
    border-radius: 10px 10px 0px 0px;
}

.main-card__title {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(223, 47%, 23%);
    margin-top: 20px;
}

.main-card__description {
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(224, 23%, 55%);
    line-height: 25px;
    width: 90%;
    margin: 10px auto;
}

.main-card__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    width: 90%;
    margin: 20px auto 20px auto;
    padding: 10px 20px;
}
.main-card__price{
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.main-card__info--blue{
    color: hsl(224, 23%, 55%);
    font-weight: 500;
}
.main-card--proceed {
    background-color: blue;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    width: 75%;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border-style: none;
    font-size: 16px;
    padding: 10px;
    font-weight: 700;
}

.main-card--cancel {
    background-color: transparent;
    color: hsl(224, 23%, 55%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    width: 75%;
    margin: 0 auto;
    display: block;
    border: none;
    font-size: 16px;
    padding: 10px;
    padding-bottom: 30px;
}

.attribution {
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
}

@media(min-width:460px) {

    body {
        background-image: url("../images/pattern-background-desktop.svg");
        background-repeat: repeat-x;
        background-color: hsl(225, 100%, 94%);

    }

    .main-card {
        background-color: white;
        width: 450px;
        margin: 0px auto 50px auto;
        border-radius: 0px 0px 10px 10px;

    }

    .main-card__img {
        border-radius: 10px 10px 0px 0px;
        display: block;
        margin: 0 auto;
        margin-top: 80px;
        width: 100%;
    }

    .main-card__title {
        text-align: center;
        font-family: 'Red Hat Display', sans-serif;
        padding-top: 25px;
        color: hsl(223, 47%, 23%);
    }

    .main-card__description {
        text-align: center;
        font-family: 'Red Hat Display', sans-serif;
        width: 300px;
        margin: 0 auto;
        padding-top: 25px;
        color: hsl(224, 23%, 55%);
    }

    .main-card__info {
        font-family: 'Red Hat Display', sans-serif;
        display: flex;
        align-items: center;
        margin-top: 50px;
        background-color: hsl(225, 100%, 98%);
    }

    .main-card__info--blue {
        color: hsl(224, 23%, 55%);
    }

    .main-card__price {
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 700;
        color: hsl(223, 47%, 23%);
        margin-left: -70px;
    }

    .main-card__status {
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .main-card--proceed {
        background-color: blue;
        color: white;
        font-family: 'Red Hat Display', sans-serif;
        width: 75%;
        margin: 0 auto;
        display: block;
        border-radius: 5px;
        border-style: none;
        font-size: 16px;
        padding: 10px;
        font-weight: 700;
    }

    .main-card--proceed:hover {
        background-color: hsl(245, 75%, 52%);
        cursor: pointer;
    }

    .main-card--cancel {
        background-color: transparent;
        color: hsl(224, 23%, 55%);
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 700;
        width: 75%;
        margin: 0 auto;
        display: block;
        border: none;
        font-size: 16px;
        padding: 10px;
    }

    .main-card--cancel:hover {
        color: hsl(223, 47%, 23%);
        cursor: pointer;
    }

    .attribution {
        font-family: 'Red Hat Display', sans-serif;
        text-align: center;
    }
}